:root {
  --black: #02171b;
  --dark-green: #074d50;
  --green: #1d635c;
  --turquoise: #14e7c6;
  --white: #daede9;
}

body {
  background: linear-gradient(90deg, var(--black), var(--dark-green));
  color: var(--turquoise);
}

.mainTitle {
  text-align: center;
  color: #fff;
  text-shadow:  0 0 0.25em rgb(197 253 242 / 75%), 0 0 0.125em #7ed4d4;;
}

/* 
* HomePage
*/

.homePageMain {
  text-align: center;
}

.button {
  padding: 1rem;
}