@import url('https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap');
:root {
  --black: #02171b;
  --dark-green: #074d50;
  --green: #1d635c;
  --turquoise: #14e7c6;
  --white: #daede9;
}

body {
  background: linear-gradient(90deg, var(--black), var(--dark-green));
  color: var(--turquoise);
  font-family: 'Ceviche One', cursive;
}

.mainTitle {
  font-size: 3rem;
  text-align: center;
  color: #fff;
  text-shadow:  0 0 0.25em rgb(197 253 242 / 75%), 0 0 0.125em #7ed4d4;
  margin: 2rem auto 1rem auto;
}

.homePageMain {
  text-align: center;
}

.button {
  padding: 0.5rem 1rem;
  background-color: var(--black);
  color: var(--turquoise);
  border: solid 0.1rem var(--white);
  cursor: pointer;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.searchField {
  padding: 0.44rem;
  font-size: 1rem;
  max-width: 6rem;
  font-family: 'Ceviche One', cursive;
}

.button:hover {
  text-shadow:  0 0 0.25em rgb(197 253 242 / 75%), 0 0 0.125em #7ed4d4;
  text-decoration: underline;
}

.navigation {
  height: 2.5rem;
}

.drink {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border: solid 0.25rem var(--turquoise)
}

.drinkImage {
  object-fit: cover;
  width: 12.5rem;
  height: 12.5rem;
  border-radius: 50%;
  border: solid 0.25rem var(--white);
  margin: 0.5rem;
}

.drinkTitle {
  grid-column: 2 / 4;
  margin: 0.5rem;
}

.drinkFieldset {
  border: dotted 0.1rem var(--turquoise);
  background-color: var(--black);
}

.drinkInstructions {
  grid-column: 1 / 4;
}

.drinkIngredients {
  text-align: left;
}

.btnGrid {
  padding: 3rem;
  grid-column: 2 / 4;
}